<launch>
 <node pkg="assignment_1" type="Navigator.py" name="Navigator" cwd="node" output="screen"/>
 <node pkg="assignment_1" type="LaserScanner.py" name="LaserScanner" cwd="node" output="screen"/>
 <node pkg="assignment_1" type="Bumper.py" name="Bumper" cwd="node" output="screen"/>
 <node pkg="assignment_1" type="Photo.py" name="Photo" cwd="node" output="screen"/>
</launch>
